target/
*.class

*.log
*.log.*

.idea/
*.iml
*.iws
*.ipr
out/

.vscode/
.project
.classpath
.settings/

.DS_Store
Thumbs.db

*.jar
!.mvn/wrapper/maven-wrapper.jar

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

*.env
application-local.yml
application-local.yaml
